canvas {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto.ttf");
}

html, body {
  font-family: Roboto;
  background-color: darkred;
  color: orange;
  margin: 0;
  padding: 0;
}

#myCanvas {
  border: solid;
  color: orange;
  border-width: 2px;
}

.canvasDiv {
  text-align: center;
}